body {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, 0.596) 20px;
}
.cgeo {
    color: white;
}

h2 {
    text-align: center;  
    font-weight: bold;
}

